/* SecondarySection.module.css */

.secondary__section {
    background-image: url('../../assets/images/Galaxy_Night.webp'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
  }